@font-face {
    font-family: "Arcon";
    font-weight: 400;
    src: local("../appPrototype/Arcon-Regular.otf"),
        url("../appPrototype/Arcon-Regular.otf") format("woff2"),
        url("../appPrototype/Arcon-Regular.otf") format("woff");
}

/* Color variables */

:root {
    --bg_blue: #7c909a;
    --main_blue: #315760;
    --border_blue: #9eb2bc;
}

/* CSS reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.app__wrapper {
    width: 352px;
    height: 424px;
    margin: 0;
    font-family: "Arcon", sans-serif;
    background-color: var(--bg_blue);
    border-radius: 1.5rem;
    padding: 1.3rem;
    color: white;
    font-weight: 400;
}
/* Main section */

.main__section {
    display: flex;
    justify-content: space-between;
    background-color: var(--main_blue);
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    padding: 1rem;
}

.main__info p,
h1,
h2 {
    margin: 0;
}

.main__info h1 {
    font-size: 3.6rem;
    font-weight: lighter;
    line-height: 4rem;
}

.main__info h2 {
    font-size: 3rem;
    font-weight: lighter;
    line-height: 3rem;
    margin-top: 2rem;
}

.main__icon,
.forecast__icon {
    justify-content: center;
    align-self: center;
    padding: 0.5rem;
}

/* Forecast */

.forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    font-size: 1rem;
    border: 3px solid var(--border_blue);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.forecast__column {
    justify-content: space-between;
    max-width: fit-content;
    display: flex;
    padding: 0.5rem;
}

.forecast__column .forecast__info {
    padding: 0.5rem;
    font-size: 0.85rem;
    line-height: 0.3rem;
}

.forecast_grid {
    border-left: 3px solid var(--border_blue);
    border-right: 3px solid var(--border_blue);
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0.4rem;
    padding: 0 0.5rem;
}

.app_footer {
    margin: 0;
    font-size: 0.75rem;
}

.app__settings {
    text-decoration: none;
    color: white;
}

/* Settings */

.weatherApp__settings {
    min-height: 50vh;
}
